# MAIN CONFIGURATIONS
PRODUCTION=True
LOCAL_DEVELOPMENT=False

# JWT
JWT_SEKRET_KEY=12LK41LK55HK24J5K3Nl23j5lqvhl3mh6b5bm0wvm95j90ywc5w5tne45b4esetb90bw
ALGORITHM=HS256
ACCESS_TOKEN_WXPIRE_MINUTES=100500

# DB CREDENTIALS
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=db_name
POSTGRES_HOST=db_host
POSTGRES_PORT=db_port

# SQLAlchemy pool settings
# Base number of connections
POSTGRES_POOL_SIZE=5
# Maximum number of additional connections during peak load
POSTGRES_MAX_OVERFLOW=10
# Number of seconds a query will wait in queue if all connections are busy
POSTGRES_POOL_TIMEOUT=30
